<div style="background-color: gainsboro; opacity: 0.9">
    @{
        ViewBag.Title = "CannotDelete";
    }

    <h2>CannotDelete</h2>
    <input type="button" value="Go back to your Purchase Requisitions" onclick='window.location = "@Url.Action("Index", "PurchaseRequisitions")";' />
    </div>