
@{
    ViewBag.Title = "CannotDelete";
}

<h2>CannotDelete</h2>
<input type="button" value="Go back to your Purchase Requisitions" onclick='window.location = "@Url.Action("Index", "PurchaseRequisitions")";' />
