@{
    ViewBag.Title = "Home Page";
}


<div style="background-color: gainsboro; opacity: 0.9"   class="jumbotron">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div>

        </div>

        <h2><center>Welcome to the WVUP Purchase Requision System</center></h2>
        <br />
        <hr style="border-top: 1px solid black;"/>
        <br />
        <h3 style="line-height: 1.5"><center>The West Virginia Universty Parkersburg Purchasing Requisition System provides one centralized location for managing all prchases made throughout the organization. The Purchase Requisition system allows for creation of Colleges, Campuses for the college, divisions, departments, and more. This allows the system to have a hierarchical structure and meet the business needs of West Virginia University Parkersburg. As an employee, submitting a purchase just got much easier. No longer will a form need to be requested, filled out, submitted, interpreted, and approved; it is all done right here and purchases could be apporved in a matter of minutes.</center> </h3>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
