@{
    ViewBag.Title = "Home Page";
}

<h1 style="color: #111683"><center>Welcome to the WVUP Purchase Requision System</center></h1>
<div style="background-color: gainsboro"   class="jumbotron">
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div>
            <img style="width:100%;height:350px;" src="~/Content/images/WVUP.jpg" alt="First slide">
        </div>
        <br />
        <h4><center>WVUP offers hjfjfhi irehjgfhreuh jjgkrjijre gjrjfifj fji fjgj f jfjn fndjn rtjejijtern jifrj knittjenk if ntiuhrturen i jhfirejhi jferijifsui jrtiewjti htiu iui j 9 uiu iijij i0 ii ijfiesj i ijfidsjifgsduiterjigjv8uhdfvuytreuh jfgvnvuhgjhduhfdsj eikreiwutity bnvnvjhxzjhvjxhui9</center> </h4>
        <br />
        <h4><center>WVUP offers hjfjfhi irehjgfhreuh jjgkrjijre gjrjfifj fji fjgj f jfjn fndjn rtjejijtern jifrj knittjenk if ntiuhrturen i jhfirejhi jferijifsui jrtiewjti htiu iui j 9 uiu iijij i0 ii ijfiesj i ijfidsjifgsduiterjigjv8uhdfvuytreuh jfgvnvuhgjhduhfdsj eikreiwutity bnvnvjhxzjhvjxhui9 hruu jhefufh vhhfnb ufuhrjewvnb ufeuh fu cbnu hu buseufehu ffh hvbvuyhy bvy fbewyfuisfgioiuret hfutuu uithu huh uhuh h uhruh guhfgsush uihu ghugh vbxfnuh ngusi ngvgu ngeru nush urshfush u hufrsehufu nig ifjesidjfij ijsidfisefjdiuoergjdj h hu ugru h i</center></h4>
        <br />
    </div>
