
@{
    ViewBag.Title = "ToDoList";
}

<h2>ToDoList</h2>
<table class="table">
    <tr>
        <th>
            <b>Get roles stored and working</b>
        </th>
        <th>
            <b>Fix purchase requisition model</b>
        </th>
        <th>
            <b>Fix user model such as budget code and address and department</b>
        </th>
        <th>
            <b>Fix budget model</b>
        </th>
        <th>
            <b>Fix division and department with foreign keys</b>
        </th>
        <th>
            <b>Fix item with file attachment and purchase req FK</b>
        </th>
        <th>
            <b>fix item with competing item</b>
        </th>
        <th>
            <b>Notification system</b>
        </th>
        <th>
            <b>email system</b>
        </th>
        <th>
            <b>finish all the views</b>
        </th>
        <th>
            <b>anything else</b>
        </th>
    </tr>
</table>

