<div style="background-color: gainsboro; opacity: 0.9">
    @{
        ViewBag.Title = "ToDoList";
    }

    <h2>ToDoList</h2>
    <table class="table">
        <tr>
            <th>
                <b>Fix purchase requisition model</b>
            </th>
            <th>
                <b>Users in departments</b>
            </th>
            <th>
                <b>Fix item with file attachment and purchase req FK</b>
            </th>
            <th>
                <b>fix item with competing item</b>
            </th>
            <th>
                <b>Notification system</b>
            </th>
            <th>
                <b>email system</b>
            </th>
            <th>
                <b>Work on displaying and editing users</b>
            </th>
        </tr>
    </table>
    </div>
