<div style="background-color: gainsboro; opacity: 0.9">

    @{
        ViewBag.Title = "Login Failure";
    }

    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
    </div>